@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
	font-family: "Montserrat", sans-serif;
}

img {
	max-width: 100%;
}
.dark-bg a {
	color: #fff;
}
a {
	color: #2b54c7;
}
p, label {
	font-size: 1.1em;
	line-height: 1.9em;
	color: rgba(0, 0, 0, .6);
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	font-weight: 200;
}
li {
	color: rgba(0, 0, 0, .6);
	font-family: 'Helvetica Neue',Helvetica,sans-serif;
	font-weight: 200;
}
.faded-on-white, .faded-on-white a {
	color: rgba(0, 0, 0, .3);
}
.center {
	text-align: center;
	margin: auto;
}
.benefits {
	padding-top: 11em;
}
.dark {
	color: #fff;
}
.call-to-action h1, .call-to-action h2, .call-to-action h3, .call-to-action h4 {
	padding: 0px;
	margin: 0px;
}
h1 {
	font-size: 3.5em;
	font-weight: 500;
}
h2 {
	font-size: 1.8em;
	font-weight: 100;
}
h3 {
	font-weight: 100;
}
h4 {
	font-size: 1.0em;
	margin: 0 auto;
	display:inline;
	color: #666;
}
.margin-top {
	margin-top: 80px;
}
.small-margin-top {
	margin-top: 15px;
}
.margin-bottom {
	margin-bottom: 50px;
}

button, .button {
	padding: 0px;
	margin: 0px;
	background-color: #4a7aff;
	color: #fff;
	border: none;
}

/*END Global*/
header {
	height: 9em;
	line-height: 9em;
	float: left;
	width: 100%;
	margin-bottom: 50px;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
}
header #logo {
	height: 9em;
}
header #logo img {
	height: 100%;
	float: left;
}
.what-is-inbox {
	width: 100%;
	padding: 0px;
	margin: 0px;
	text-align: center;
	margin-top: -4em;
}

#primary-nav {
	font-size: 1.3em;
	padding: 0px;
}
#primary-nav ul {
	list-style: none;
	float: right;
	margin: 0px;
}
#primary-nav ul li {
	float: left;
	padding: 0 20px;
	margin: 0px;
	text-transform: uppercase;
	color: #fff;
}
.main-section {
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #fcfcfc;
	padding: 0 0 50px 0;
}

.main-section.darkbg a {
	color: #fff;
	text-decoration: underline;
}
.light-grey {
	background-color: #fcfcfc;
	padding: 50px 0;
	
}
.sales-section h1 {
	line-height: 1.2em;
	margin-bottom: 0px;
}
.sales-section h2 {
	color: #555;
	margin-top: 0px;
	margin-bottom: 20px;
}

.benefits h4 {
	margin-bottom: 10px;
}
.benefits p {
	margin-top: 0px;
}
.benefits img {
	opacity: .7;
}

.call-to-action {
	background-color: #4186D2;
	padding: 40px 0px;
	text-align: center;
}

.call-to-action form {
	margin: auto;
}
.call-to-action .validationError {
    color: #fff;
}

.client .row div img {
	-webkit-filter: grayscale(1);
	  filter: grayscale(1);
	  transition: 1s;
}
.client .row div:hover img {
	-webkit-filter: grayscale(0);
	  filter: grayscale(0);
	  
}

@media screen and (max-width: 640px) {
    #mailchimp-email, .mailchimp-signup button  {
    	width: 100%!important;
    	border: none;
    	text-align: center;
    }
    #mailchimp-email {
    	border: 1px solid #2b54c7;
    	border-bottom: none;
    }
    .benefits img {
    	margin-right: 10px;
    	float: left;
    }
   h1, h2{
    	text-align: center;
    }
    .footer-nav{
    	text-align: center;
    }
    .benefits {
    	padding-top: 0px;
    }
}

/*MailChimp*/
.mailchimp-signup {
	background-color: #2BB5F7;
	max-width: 700px;
}

.mailchimp-signup input, .mailchimp-signup button {
	border: none;
	line-height: 3em;
	font-size: 1.4em;
}
.mailchimp-signup button {
	float: right;
	padding: 0px;
	margin: 0px;
	width: 40%;
	background-color: #FFD306;
	color: #fff;
	border: 1px solid #4186D2;
	border-left: none;
}
.mailchimp-signup input {
	/*background-color: #2b54c7;*/
	background-color: #fff;
	color: #2b54c7;
	padding: 0px 30px;
	width: 60%;
	border: 1px solid #4186D2;
	border-right: none;
}
.mailchimp-signup input::-webkit-input-placeholder {
	color: #2b54c7;
}
.mailchimp-signup label{
        color:#fff;
        background-color:#2b54c7;
        float:left;
        width:100%;
        text-align:center;
        margin-bottom: 10px;
    }
.mailchimp-signup label.valid, .mailchimp-signup label.error {
	padding: 15px;
	text-align: center;
}
.validationError {
    color: red;
    padding: 0px;
}

/*Timeline CSS*/
.timeline-container {
	background-color: #4186D2;
	padding: 80px 0;
}

.timeline {
    white-space:nowrap;
    overflow-x: scroll;
    padding:30px 0 10px 0;
    position:relative;
}
.gradient {
	width: 150px;
	height: 130px;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 9999;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4186d2+0,4186d2+100&amp;0+0,1+100 */
	background: -moz-linear-gradient(left,  rgba(65,134,210,0) 0%, rgba(65,134,210,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(65,134,210,0)), color-stop(100%,rgba(65,134,210,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(65,134,210,0) 0%,rgba(65,134,210,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(65,134,210,0) 0%,rgba(65,134,210,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(65,134,210,0) 0%,rgba(65,134,210,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(65,134,210,0) 0%,rgba(65,134,210,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004186d2', endColorstr='#4186d2',GradientType=1 ); /* IE6-9 */
	
}

.entry {
    display:inline-block;
    vertical-align:top;
    background:#2F1E72;
    color:#fff;
    padding:10px;
    font-size:12px;
    text-align:center;
    position:relative;
    border-radius:3px;
    min-width:200px;
    max-width:500px;
    margin: 0 20px;
}


.entry:after {
    content:'';
    display:block;
    background:#fff;
    width:13px;
    height:13px;
    border-radius:6px;
    border:3px solid #2F1E72;
    position:absolute;
    left:50%;
    top:-30px;
    margin-left:-6px;
}

.entry:before {
    content:'';
    display:block;
    background:#2F1E72;
    width:5px;
    height:20px;
    position:absolute;
    left:50%;
    top:-20px;
    margin-left:-2px;
}

.entry h1 {
    color:#fff;
    font-size:18px;
    margin-bottom:10px;
}

.entry h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}

.bar {
    height:4px;
    background:#2F1E72;
    width:100%;
    position:relative;
    top:8px;
    left:0;
}

/*SJS*/
.work-image{
	width: 300px;
}


